# Node.js dependencies
/node_modules

# Build output
/dist
/.next
/.storybook/out

# Environment variables
.env
.env.local
.env.*.local

# Log files
*.log

# Dependency directories
.pnp
.pnp.js

# Storybook build outputs
storybook-static/

# IDE and editor directories
.vscode
.idea

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript build artifacts
*.tsbuildinfo

# Jest coverage reports
coverage/

# Other
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*storybook.log